.body__titel-size {
    font-size: 64px;

}
.body__text-size,.ab__block-text,.diseng__text {
    font-size: 18px;
}

.ab__block-titel,.ab__text,.dising__titel,.marvel__block-titel {

    font-size: 26px;
}

.ab__titel {
    font-size: 32px;
}

.ab__icon {
    font-size: 64px;   
}