* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;

}

.nav__top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav__color{
    background-color: white;
}

.content__top-nav {
    height:60px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
   
}

.block__items {
    padding: 20px;
}

.content__items {
    display: flex;
}

.content__items:hover { 
    color: rgb(4, 45, 1);
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.nav__body {
    position: relative;

    min-height: 100%;

}
/*Надо разобратся с картинкой не показывает*/
.bg__img {
    background-image: url("/img/keyboard-bg.jpg");
    
    background-color: rgb(148, 0, 0);
}

.nav__text-body {
    position: absolute;
    top: 35%;
    transform: translate(0% -50%);
}

.body__titel {
    display: block;
}

.body__text {
}

.body__titel-size-medium {
    display: none;
}

 .buttom__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.buttom__text {

    background-color: rgb(84, 101, 117);
    padding: 25px;
}
.buttom__text:hover {
    background-color: rgb(159, 167, 175);
}


.social {
    position: absolute;
    top: 95%;

}

.content {
    padding: 0px 40px;
}

.ab__center {
    display: flex;
    justify-content: center;
}

.ab__content {
    display: flex;

}

.ab__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ab__block-titel {
    display: flex;
    justify-content: center;
}
.ab__block-text {
    display: flex;
    justify-content: center;
    text-align: center;
}
.about {
    padding: 128px 16px;
}

.ab__block {
    padding: 12px;
}